<nav class="navbar">
  <div class="ruta"></div>
  <div class="menu">
      <img class="logo" src="assets\img\Burguer-logo.ico" alt="">
      <a class="food" id="breakfast" [routerLink]="['breakfast']" routerLinkActive="active">Desayuno</a>
      <a class="food" id="hamburguer" [routerLink]="['hamburguer']" routerLinkActive="active">Hamburguesas</a>
      <a class="food" id="drinks" [routerLink]="['drinks']" routerLinkActive="active">Bebidas</a>
      <a class="food" id="complements" [routerLink]="['complements']" routerLinkActive="active">Complementos</a>
  </div>
  <div class="ticket">
      <p class="ticket-information" id="cant">Cant.</p>
      <p class="ticket-information" id="product">Producto</p>
      <p class="ticket-information" id="price">Precio</p>
  </div>

</nav>